*{
    margin: 0;
    padding: 0;

    font-family: 'Nunito', sans-serif;

    scroll-behavior: smooth;
}

/*Home Page*/

/*Nav + Logo*/
.header{
    min-height: 100vh;
    width: 100%;

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Images/BANNER.jpg);
    background-position: center;
    background-size: cover;
    
    position: relative;
}

nav{
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 1% 6%;
}

nav img{
    width: 85px;

    border-radius: 5px;
}

.nav-links{
    flex: 1;

    text-align: right;
}

.nav-links ul li{
    list-style: none;

    display: inline-block;

    padding: 8px 15px;

    position: relative;
}

.nav-links ul li a{
    color: #fff;

    text-decoration: none;

    font-size: 15px;
}

nav .fa{
    display: none;
}
/*Nav Animation*/
.nav-links ul li::after{
    content: '';

    width: 0%;
    height: 3px;

    border-radius: 10px;

    background: #53BCC0;

    display: block;

    margin: auto;

    transition: 0.5s;

}

.nav-links ul li:hover::after{
    width: 100%;
}

/*Text Overlay*/
.text-box{
    width: 90%;

    color: #fff;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
}

.text-box h1{
    font-size: 72px;
}

.text-box p{
    margin: 10px 0 40px;
    
    font-size: 16px;
    
    color: #fff;
}

/*Button*/
.main-btn{
    display: inline-block;

    text-decoration: none;
    
    color: #fff;
    
    border: solid 1px #fff;
    border-radius: 2px;
    
    padding: 12px 34px;
   
    font-size: 13px;

    background:transparent;

    position: relative;

    cursor: pointer;

    margin: 5px;
}

.main-btn:hover{
    border: solid 1px #53BCC0;

    background: #53BCC0;

    transition: 1s;
}

.other-btn{
    border: 1px solid #53BCC0;

    background: transparent;

    color: #53BCC0;
}

.other-btn:hover{
    color: #fff;
}

/*Responsivity*/

@media(max-width: 700px){

    .text-box h1{
        font-size: 23px;
    }

    .nav-links{
        position:fixed;

        background:#53BCC0;

        height: 100vh;
        width: 200px;

        top: 0;
        right: -200px;

        text-align: left;

        z-index: 2;

        transition: 1s;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links ul{
        padding: 25px;
    }

    /*Icons*/
    nav .fa{
        display: block;

        color: #fff;

        margin: 10px;

        font-size: 22px;

        cursor: pointer;
    }
}

/*Course Section Homepage*/

.courses{
    width: 80%;

    margin: auto;

    text-align: center;

    padding-top: 50px;
}

h1{
    font-size: 42px;
    font-weight: 600;
}

p{
    color: #777;

    font-size: 16px;

    font-weight: 300;

    line-height: 22px;

    padding: 10px;
}

.row{
    margin-top: 5%;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.courses-colm{
    flex-basis: 32%;

    border-radius: 5px;

    margin-bottom: 30px;

    position: relative;

    overflow: hidden;
}

.courses-colm img{
    width: 100%;

    display: block;

}

.layer{
    background: transparent;
    
    height: 100%;
    
    width: 100%;
    
    position: absolute;
    
    top: 0;
    
    left: 0;
    
    transition: 0.5s;
}

.layer:hover{
    background: #53bcc0a7;
}

.layer h3{
    width: 100%;

    font-weight: 500;

    color: white;

    font-size: 26px;

    top: 50%;

    position: absolute;

    opacity: 1;

    transition: 0.5s;

    text-shadow: 1px 1px black;
}

.layer p{
    position: absolute;

    align-items: center;

    top: 50%;
    padding-left: 10%;
    padding-right: 10%;

    transition: 0.75s;

    opacity: 0;

    color: white;

    text-shadow: 0.5px 0.5px black;
}

.layer:hover p{
    opacity: 1;
}

.layer:hover h3{
    top: 25%;
}


.courses a{
    text-decoration: none;

    color: white;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;

    }

    h1{
        font-size: 22px;
    }

    p{
        font-size: 14px;
    }
}

@media(max-width: 1050px){
    .layer h3{
        font-size: 18px;
    }

    .layer p{
        font-size: 1px;
    }
}

/*Contact Block*/
.contact{
    margin: 100px auto;

    width: 80%;

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Images/photo-1558008258-3256797b43f3.jpg);
    background-position: center;
    background-size: cover;

    border-radius: 10px;

    text-align: center;

    padding: 100px 0;
}

.contact h1{
    color: #fff;

    margin-bottom: 40px;

    padding: 0;
}


@media(max-width: 700px){
    .contact h1{
        font-size: 22px;
    }
}

/*Footer*/
.footer{
    width: 100%;

    text-align: center;
    padding: 30px 0;

    font-size: 18px;

    z-index: 2;

}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;

    font-weight: 600;
}

.social-icons .fa{
    color: #53BCC0;

    margin: 0 13px;

    cursor: pointer;

    padding: 18px 0;

    transform: 0.5s;

    font-size: 20px;
}

.social-icons .fa:hover{
    color: black;
}

/*Sub-Header*/
.sub-header{
    height: 45vh;
    width: 100%;

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Images/photo-1571321513881-745a98a1cc19.jpg);
    background-position: center;
    background-size: cover;

    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 100px;
}

/*About Page*/

.about-us{
    width: 80%;

    margin: auto;

    padding-top: 80px;
    padding-bottom: 50px;
}

.about-colm{
    flex-basis: 45%;

    padding: 30px 2px;

    text-align: center;
}

.about-colm img{
    width: 100%;

    border-radius: 3px;
}

.about-colm h1{
    padding-top: 0;
}

.about-colm p{
    padding: 15px 0 15px;

    line-height: 1.5;
}

.staff{
    width: 80%;

    margin: auto;

    padding-top: 0px;
    padding-bottom: 20px;

    align-items: center;
    justify-content: center;

    text-align: center;
}

.staff img{
    width: 50%;
}

.staff .row{
    justify-content: center;
}

@media(max-width: 700px){
    .staff img{
        width: 100%;
    }
}

/*Courses Page*/
.degree-about{
    margin: 0 20%;
}

.degree-about h2{
    font-size: 30px;
}

.degree-about p{
    font-size: 16px;

    color: black; 

    text-align: justify;
}

.ba-degree, .beng-degree, .post-degree{
    padding-top: 50px;
}

.degree-about ul{
    text-indent: 2%;
 
    list-style-position: inside;

    text-align: justify;
}

.degree-about ul li{
    text-indent: 2%;
}

.degree-about ul li ul{
    text-indent: 2%;
}


/*News Page*/
.news-content{
width: 80%;

margin: auto;

padding: 60px 0;
}

.news-video{
    width: 50%;

    margin: auto;

    padding: 60px 0;
}

.news-video p{
    padding: 25px 25px;

    line-height: 1.5;

    font-size: 20px;
}

.news-video iframe{
    width: 100%;
}

.news-colm{
    flex-basis: 48%;

    padding: 30px 2px;

    text-align: center;
}

.news-colm img{
    width: 100%;

    border-radius: 3px;
}

.news-colm h1{
    padding-top: 0;
}

.news-colm p{
    padding: 25px 0px 25px;

    line-height: 1.5;

    font-size: 20px;
}
/*Our Students*/
.students{
    width: 40%;
    
    margin: none;

    padding-top: 100px;

    text-align: center;

}

.student-row{
    margin-top: 5%;

    display: flex;

    justify-content: space-between;

    flex-direction: column;

}

.students-colm{
    flex-basis: 30%;

    border-radius: 10px;

    margin-bottom: 5%;

    text-align: justify;

    background: #aee0e2;

    padding: 25px;

    display: flex;

    flex-direction: column;

    align-items: center;
}

.students-colm img{
    height: 125px;

    margin-left: 5px;
    margin-right: 30px;

    border-radius: 50%;
}

.pic{
    width: 80%;

    margin: auto;

    padding: 5%;
}

/*Contact Page*/
.location{
    width: 80%;

    margin: auto;

    padding: 80px 0;
}

.contact-us a{
    text-decoration:none;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;

    margin: auto;
}

.contact-colm{
    flex-basis: 48%;

    margin-bottom: 30px;
}

.contact-colm div{
    display: flex;

    align-items: center;

    margin-bottom: 40px;
}

.contact-colm div .fa{
    font-size: 28px;

    color: #53BCC0;

    margin: 10px;

    margin-right: 30px;
}

.contact-colm div p{
    padding: 0;
}

.contact-colm div h5{
    font-size: 20px;

    font-weight: 500;

    color: #777;
}

/*Form*/
.contact-colm input, .contact-colm textarea{
    width: 100%;

    padding: 15px;

    margin-bottom: 17px;

    outline: none;

    border: 1px solid #ccc;

    box-sizing: border-box;
}

.contact-us a:link, .staff a:link, .degree-about a:link, .contact-us a:visited, .staff a:visited, .degree-about a:visited{
    color: #53BCC0;
}

.contact-us a:hover, .staff a:hover, .degree-about a:hover{
    color: cadetblue;
}