*{
    margin: 0;
    padding: 0;

    font-family: 'Nunito', sans-serif;
}

/*Nav + Logo*/
.header{
    min-height: 100vh;
    width: 100%;

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Images/banner-marvin-meyer-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2% 6%;
}


nav img{
    width: 85px;

    border-radius: 5px;
}

.nav-links{
    flex: 1;

    text-align: right;
}

.nav-links ul li{
    list-style: none;

    display: inline-block;

    padding: 8px 15px;

    position: relative;
}

.nav-links ul li a{
    color: #fff;

    text-decoration: none;

    font-size: 15px;
}


/*Nav Animation*/
.nav-links ul li::after{
    content: '';

    width: 0%;
    height: 3px;
    border-radius: 10px;

    background: #53BCC0;

    display: block;

    margin: auto;

    transition: 0.5s;

}

.nav-links ul li:hover::after{
    width: 100%;
}

/*Text Overlay*/
.text-box{
    width: 90%;

    color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.text-box h1{
    font-size: 72px;
}

.text-box p{
    margin: 10px 0 40px;
    
    font-size: 16px;
    
    color: #fff;
}

/*Button*/
.main-btn{
    display: inline-block;

    text-decoration: none;
    
    color: #fff;
    
    border: solid 1px #fff;
    border-radius: 5px;
    
    padding: 12px 34px;
   
    font-size: 13px;

    background:transparent;

    position: relative;

    cursor: pointer;
}

.main-btn:hover{
    border: solid 1px #53BCC0;

    background: #53BCC0;

    transition: 1s;
}

/*Resposivity*/

@media(max-width: 700px){
    
    .text-box h1{
        font-size: 22px;
    }

    .nav-links{
        position: absolute;

        background:#53BCC0;

        height: 100vh;
        width: 200px;

        top: 0;
        right: 0;

        text-align: left;

        z-index: 2;
    }

    .nav-links ul li{
        display: block;
    }
}